/* #landing-page {
  height: 100%;
  max-width: 100%;
  background-image: radial-gradient(ellipse farthest-corner at center top, hsla(230, 100%, 15%, 1) 0%, hsla(231, 90%, 1%, 1) 100%);
  cursor: move;
} */

/* body {
  width: 100%;
} */